<app-create-task-form></app-create-task-form>
<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks;">
      <td>
        <span *ngIf="!task.isClosed; else notClosed" class="uk-text-emphasis">{{ task.name }}</span>
        <ng-template #notClosed>
          <s class="uk-text-danger">
            <span class="uk-text-muted">{{ task.name }}</span>
          </s>
        </ng-template>
      </td>
      <td class="table-buttons uk-width-auto">
        <button *ngIf="!task.isClosed; else done" (click)="closeTask(task.id)"
          class="uk-button uk-button-text uk-button-small">Done</button>
        <ng-template #done>
          <button class="uk-button uk-button-text uk-button-small" disabled>Done</button>
        </ng-template>
      </td>
      <td class="table-buttons uk-width-auto">
        <button (click)="deleteTask(task.id)" class=" uk-button uk-button-text uk-button-small">Delete</button>
      </td>
    </tr>
    <tr *ngIf="tasks.length == 0;">
      <td class="uk-text-center">
        <small class="uk-text-muted">Your tasks will appear here.</small>
      </td>
    </tr>
  </tbody>
</table>